{% extends "base.html" %}

{% block title %}
{{reporter.nome}}
{% endblock title %}    

{% block content %}
<div class="content">
    <div>
        <strong>Nome</strong><p>{{reporter.nome}}</p>
        <strong>CPF</strong><p>{{reporter.cpf}}</p>
        <div>
            <h3>Esta ação é irreversível! Tem certeza que deseja deletar os dados acima?</h3>
        </div>
        <form  id='reporter' action="{% url 'relacionamentos:classe_reporter_delete' reporter.id %}" method="post">
            {% csrf_token %}
            <input name="reporter_id" type='hidden' id='reporter_id' value="{{ reporter.id }}">
            <button type="submit" class="btn btn-outline-danger bi bi-trash3"  href="{% url 'relacionamentos:classe_reporter_list' %}"> Sim, deletar</button>
            <br>
            <a class="bi bi-arrow" role='button' title='Voltar' href="{% url 'relacionamentos:classe_reporter_list' %}">
            Cancelar
            </a>
        </form>
    </div>
</div>

{% endblock content %}
