{% extends "base.html" %}

{% block title %}
{{reporter.nome}}
{% endblock title %}    

{% block content %}
<div class="content">
    <div>
        <strong>Data de Nascimento</strong><p>{{reporter.data_nascimento|date:"d/m/y"}}</p>
        <strong>CPF</strong><p>{{reporter.cpf}}</p>
        <strong>E-mail</strong><p>{{reporter.email}}</p>
        
    </div>
        <a class="btn btn-outline-secondary btn-lg" role='button' title='Detalhar' href="{% url 'relacionamentos:classe_reporter_list' %}">
            Voltar
        </a>
</div>

{% endblock content %}
