{% extends "base.html" %}

{% block title %}

    <h1>Editar Reporter</h1>
{% endblock title %}
    {% block content %}
        <form id="reporter" method="post" action="{% url 'relacionamentos:classe_reporter_update' reporter.id %}">
            {% csrf_token %}
            {{formulario.as_p}}
            <button type="submit" class="btn btn-outline-info btn-lg"> Editar</button>
            <button type="reset" class="btn btn-outline-danger btn-lg"> Resetar</button>
            <a  role='button' title='Voltar'class=" btn-outline-secondary bi bi-arrow-left" href="{% url 'relacionamentos:funcao_person_list' %}">
            Voltar
            </a>
        </form>
        
    {% endblock content %}
