{% extends "base.html" %}

{% block title %}
{{pessoa.nome}}
{% endblock title %}    

{% block content %}
<div class="content">
    <div>
        <strong>Birthdate</strong><p>{{pessoa.data_nascimento|date:"d/m/y"}}</p>
        <strong>CPF</strong><p>{{pessoa.cpf}}</p>
        <div>
            <h3>Esta ação é irreversível! Tem certeza que desaja deletar os dados acima?</h3>
        </div>
        <form  id='pessoa' action="{% url 'relacionamentos:funcao_person_delete' pessoa.id %}" method="post">
            {% csrf_token %}
            <input name="pessoa_id" type='hidden' id='pessoa_id' value="{{ pessoa.id }}">
            <button type="submit" class="btn btn-outline-danger bi bi-trash3"> Sim, deletar</button>
            <br>
            <a class="bi bi-arrow" role='button' title='Voltar' href="{% url 'relacionamentos:funcao_person_list' %}">
            Cancelar
            </a>
        </form>
    </div>
</div>

{% endblock content %}
