{% extends "base.html" %}

{% block title %}
    {% if pessoas %}
        Lista de Pessoas
    {% else %}
        Nenhuma Pessoa Cadastrada
    {% endif %}
{% endblock title %}

{% block content %}

            <a  role='button' class="btn btn-outline-success" href="{% url 'relacionamentos:funcao_person_create' %}">
            <i class="bi bi-floppy"> Cadastrar Pessoa</i>
            </a>

    {% if pessoas %}
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Ações</th>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                    <tr>
                        <td>
                            {{pessoa.id}}
                        </td>
                        <td>
                            {{pessoa.nome}}
                        </td>
                        <td>
                            {{pessoa.data_nascimento}}
                        </td>
                        <td>
                            {{pessoa.cpf}}
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary btn-lg" role='button' title='Detalhar' href="{% url 'relacionamentos:funcao_person_read' pessoa.id %}">
                                <i class="bi bi-card-list"></i>
                            </a>
                             <a class="btn btn-outline-warning btn-lg" role='button' title='Gerar CPF usando funcoes' href="{% url 'relacionamentos:funcao_person_generate_cpf' pessoa.id %}">
                                <i class="bi bi-arrow-repeat"></i>
                            </a>
                            <a class="btn btn-outline-info btn-lg" role='button' title='Editar' href="{% url 'relacionamentos:funcao_person_update' pessoa.id %}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-outline-danger btn-lg" role='button' title='Deletar' href="{% url 'relacionamentos:funcao_person_delete' pessoa.id %}">
                                <i class="bi bi-trash3"></i>
                            </a>
                            
                        </td>   
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content %}

